@media (prefers-color-scheme: dark) {



    body {
    background-image: url(../img/black_mode_background.jpg);
    background-attachment: fixed;
    color: ivory;
    }


    /* ====== header ======*/

    header {
        background-color: dimgray;
        padding-top: 50px;
    }

    .header_bottom {
        color: ivory;
        background-color: dimgray;
    }

    .nav_right a{
        color:ivory;
    }

    .nav_left p{
        color: white;
    }

    .header_top {
        background-color: darkgray;
    }




    /* ====== COURSE ======*/

    .course_text h3{
        color: ivory;
    }

    .section_text_box p{
        color: dimgray;
        opacity: 1.0;
    }

    .section {
        background-color: lightgray;
    }
    /* ====== ACCESS ======*/

    .access_text {
        color:dimgray;
        opacity: 1.0;
    }

    .school_info {
        color:dimgray;
    }

    /* ====== NEWS ======*/

    /* ====== CONTACT ======*/

    .contact_form {
        background-color: dimgray;
    }

    .contact_form_2{
        background-color: dimgray;
    }

    /* ====== footer ======*/

    footer {
        background-color: darkgray;
    }

}