@media (prefers-color-scheme: dark) {



    body {
    background-image: url(../img/black_mode_background.jpg);
    background-attachment: fixed;
    color: ivory;
    }


    /* ====== header ======*/

    .header_bottom {
        color: ivory;
    }

    .nav_right a{
        color:ivory;
    }

    .header_top {
        background-color: dimgray;
    }




    /* ====== COURSE ======*/

    .course_text h3{
        color: ivory;
    }

    .section_text_box p{
        color: dimgray;
        opacity: 1.0;
    }

    .section {
        background-color: lightgray;
    }
    /* ====== ACCESS ======*/

    .access_text {
        color:dimgray;
        opacity: 1.0;
    }

    .school_info {
        color:dimgray;
    }

    /* ====== ======*/
    /* ====== ======*/
    /* ====== ======*/

}