/* ==== ローディングのためのCSS ==== */
#splash {
    /* abeさんありがとうございます！ */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: ivory;
    text-align: center;
    color: #fff;
}


/* ==== loading bar ==== */

#splash_text {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 999;
    width: 90%;
    transform: translate( -50%,-50%);
    color: #fff;
    border-radius: 10px;
}