@media (max-width:670px){
    * {
        box-sizing: border-box;
    }
    body{
        width: 100%;
        text-align: center;
    }

    header {
        text-align: center;
    }

    .header_top h1{
        font-size: 34px;
    }
    .header_top h2{
        font-size: 18px;
    }


    .nav_left {
        display: none;
    }

    .nav_right {
        width: 100%;
    }

    .about_text {
        margin: 0 10%;
    }

    .section_text_box h4{
        display: none;
    }

    .section_text_box p{
        font-size: 14px;
    }

    .news_btn {
        width: 90%;
    }

    .news_topics {
        display: none;
    }

    .slideshow {
        display: flex;
        animation:loop-slide 20s infinite linear 1s both;
    }

    @keyframes loop-slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .topic {
        width: 400px;
        height: 100%;
        margin: 40px 10px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 5% 5%;
    }

    .news_topics2 {
        display: flex;
        align-items: center ;
        height: 100%;
        overflow: hidden;
        width: 80%;
        margin: 10px 0;
        padding: 20px 0;
    }

    .slide_paused:hover .slideshow{
        animation-play-state: paused;
    }

    .topic_hover {
        transition: all 0.2s;
    }

    .topic_hover:hover {
        transform: translateY(-20px);
        box-shadow: 0 3px 10px 0 #333;
        opacity: 0.8;
        cursor: pointer;
    }


    .school_info {
        margin: 0 10%;
    }

    .CONTACT {
        display: none;
    }

    .CONTACT_mini {
        display: block;
    }

    .contact_form_2 {
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 0 10%;
    }

    .contact_form_2 p{
        padding:15px 0 5px 0;
    }

    #input_box {
        width: 100%;
    }

    #detail {
        width: 100%;
        margin-bottom: 10px;
    }


    .motivation_form_2 input{
        position: relative;
        top: -1.6px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    .contact_form p{
        text-align: left;
    }

    .contact_form_table {
        width: 100%;
    }

    .contact_btn {
        width: 100%;
        padding: 0 10%;
        margin-bottom: 150px;
    }

    .footer {
        width: 100%;
    }



}