@media (max-width:700px){
    * {
        box-sizing: border-box;
    }
    body{
        width: 100%;
        text-align: left;
    }
    /* ===== header ===== */

    header {
        text-align: center;
        background-color:ivory;
    }

    .header_bottom h1{
        font-size: 34px;
    }

    .header_bottom h2{
        font-size: 18px;
    }

    .header_middle {
        height: 200px;
        margin-top: 40px;
        padding-top: 50px;
    }


    .header_middle p{
        display: none;
    }

    .header_middle h5{
        display: none;
    }

    .cheese_phone {
        display: none;
    }

    .header_middle_jobs {
        display: none;
    }

    .header_nav {
        display: block;
        font-size: 12px;
        float: left;
    }

    .nav_left p{
        margin-right: 0;
        float: left;
    }

    .nav_left {
        width: 100%;
        display: block;
        padding-top: 10px;
    }

    .nav_right {
        display: none;
    }


    .header_bottom {
        display: block;
        height: 30px;
        background-color:unset;
        margin-bottom: 0;
        padding-top: 0;
        color: dimgray;
        animation-name:none;
        padding-top: 30px;
    }

    /* ===== ABOUT ===== */

    .ABOUT {
        padding-top: 20px;
        margin-bottom: 0;
    }

    .about_text {
        font-size: 16px;
        padding-bottom: 40px;
        margin: 0 10%;
        align-items: unset;
    }

    .about_text p{
        font-size: 16px;
    }

    .about_photo {
        height: 100px;
    }


/* ===== COURSE ===== */

    .COURSE {
        margin-top: 0;
        padding: 0;

    }

    .course_text {
        padding: 0 10%;
        margin-bottom: 64px;
        align-items: unset;
    }

    .course_text h3{
        margin-bottom: 24px;
    }

    .course_text p{
        font-size: 16px;
    }

    .section {
        height: 300px;
        margin: 0;
    }

    /* ===== NEWS ===== */

    .NEWS {
        margin-top: 64px;
        display: block;
        justify-content: unset;
        align-items: unset;
        flex-direction: unset;
        padding-top: 0;
    }

    .news_text {
        padding: 0 10%;
    }

    .news_topics2 {
        margin: 0 auto;
    }

    .topic {

        opacity: 0.99;
        border-radius: 5%;
    }

    .news_btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }



    /* ===== ACCESS ===== */

    .ACCESS {
        margin-top: 0px;
        padding-top: 64px;
    }

    .access_text {
        text-align: unset;
        margin: 0 10%;
    }

    /* ===== CONTACT ===== */

    .CONTACT_mini {
        padding-top: 64px;
    }

    .contact_text p{
        font-size: 16px;
    }

    .contact_text {
        margin-bottom: 0;
        align-items: unset;
        margin: 0 10%;
    }

    .contact_btn {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .contact_form_2 {
        padding: 10% 10%;
        background-color: ivory;
    }


    /* ===== LINK ===== */
    .LINK {
        display: none;
    }

















    .section_text_box h4{
        display: none;
    }

    .section_text_box p{
        font-size: 14px;
    }

    .news_btn {
        width: 90%;
    }

    .news_topics {
        display: none;
    }

    .slideshow {
        display: flex;
        animation:loop-slide 20s infinite linear 1s both;
    }

    @keyframes loop-slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .topic {
        width: 400px;
        height: 100%;
        margin: 40px 10px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 5% 5%;
    }

    .news_topics2 {
        display: flex;
        align-items: center ;
        height: 100%;
        overflow: hidden;
        width: 80%;
        padding: 5px 0;
    }

    .slide_paused:hover .slideshow{
        animation-play-state: paused;
    }

    .topic_hover {
        transition: all 0.2s;
    }

    .topic_hover:hover {
        transform: translateY(-20px);
        box-shadow: 0 3px 10px 0 #333;
        opacity: 0.8;
        cursor: pointer;
    }


    .school_info {
        margin: 0 10%;
    }

    .CONTACT {
        display: none;
    }

    .CONTACT_mini {
        display: block;
    }

    .contact_form_2 {
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 0 10%;
    }

    .contact_form_2 p{
        padding:15px 0 5px 0;
    }

    #input_box {
        width: 100%;
    }

    #detail {
        width: 100%;
        margin-bottom: 10px;
    }


    .motivation_form_2 input{
        position: relative;
        top: -1.6px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    .contact_form p{
        text-align: left;
    }

    .contact_form_table {
        width: 100%;
    }

    .contact_btn {
        width: 100%;
        padding: 0 10%;
        margin-bottom: 150px;
    }

    .footer {
        width: 100%;
    }



}